<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIAppFonts</key>
    <array>
      <string>SF-Pro-Rounded-Bold.ttf</string>
      <string>SF-Pro-Rounded-Heavy.ttf</string>
      <string>SF-Pro-Rounded-Medium.ttf</string>
      <string>SF-Pro-Rounded-Light.ttf</string>
      <string>SF-Pro-Rounded-Regular.ttf</string>
      <string>SF-Pro-Rounded-Semibold.ttf</string>
    </array>
    <key>UIBackgroundModes</key>
    <array/>
    <key>CFBundleVersion</key>
    <string>178</string>
    <key>CFBundleShortVersionString</key>
    <string>1.6.51</string>
  </dict>
</plist>